@import '@/assets/styles/variables.scss';
.formContainer {
	height: 600px;
	overflow-y: auto;
	.errorMessage {
		color: $red;
		font-size: 18px;
		font-weight: 700;
	}
	.form {
		display: flex;
		flex-direction: column;
		gap: 10px;

		button {
			display: flex;
			align-items: center;
			justify-content: center;
			border-radius: 10px;
			padding: 10px 30px;
			background: black;
			margin-top: 5px;
			color: white;
			&:hover {
				color: black;
				background: white;
				border: 1px solid black;
				transition: all 0.1s ease;
			}
		}
	}
}
