@import '@/assets/styles/variables.scss';

.items {
	width: 100%;

	.header {
		margin-top: 12px;
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 30px;
		font-weight: 600;
	}

	.placeholder {
		width: 10%;
	}

	.item {
		margin-top: 12px;
		display: flex;
		align-items: flex-start;
		justify-content: space-between;
		gap: 170px;
		border-radius: 10px;
		background: $grey-light;
		padding: 0 30px;
		transition-property: color, background-color, border-color,
			text-decoration-color, fill, stroke;
		transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
		transition-duration: 150ms;
		&:hover {
			background: $black;
			color: $white;
			font-weight: 600;
		}

		> div {
			padding: 16px 0;
			width: 24%;

			&:last-child {
				justify-content: flex-end;
				text-align: right;
			}
		}
	}
}

.notFound {
	padding: 16px 0;
	text-align: center;
	font-size: 36px;
}
