.cartItems {
    // Добавьте стили по вашему усмотрению
  }
  
  .cartList {
    list-style-type: none;
    padding: 0;
  }
  
  .cartItem {
    display: flex;
    align-items: center;
    margin-bottom: 10px; // Измените по вашему усмотрению
  }
  
  .cartItem img {
    margin-right: 10px; // Измените по вашему усмотрению
  }
  
  .itemDetails {
    display: flex;
    flex-direction: column;
  }
  
  .itemDetails > div {
    margin-bottom: 5px; // Измените по вашему усмотрению
  }
  