@import '@/assets/styles/variables.scss';
.row {
	display: flex;
	align-items: center;
	border-bottom: 1px solid $black;
	padding-bottom: 20px;
	gap: 20px;
	.imgWrapper {
		display: flex;
		justify-content: center;
		> img {
			border-radius: 20px;
			height: 150px;
		}
	}
	.information {
		.name {
			font-size: 32px;
			font-weight: 700;
		}
		.info {
			font-size: 20px;
			font-weight: 500;
			> span {
				color: $black;
				font-weight: 600;
			}
		}
		.price {
			font-size: 24px;
			font-weight: 600;
		}
	}
}
